rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // Course thumbnails
    match /members/course-thumbnails/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    // Content thumbnails
    match /members/content-thumbnails/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    // Content PDFs
    match /members/content-pdfs/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    // Deny everything else
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}